<div class="pl-3 pb-2" align="center">
  {{ exchangeName }}
</div>
<div class="col">
  <table class="table table-condensed table-hover">
    <thead>
    <tr>
        <th class="font-weight-bold">SYMBOL</th>
        <th class="font-weight-bold">Name</th>
        <th class="font-weight-bold">Buy</th>
        <th class="font-weight-bold">Sell</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rate of rates">
        <td>{{rate.symbol}}</td>
        <td>{{rate.name}}</td>
        <td>{{rate.buy}}</td>
        <td>{{rate.sell}}</td>
      </tr>
    </tbody>
  </table>
</div>
